@media only screen and (max-width: 700px) {
    body{ 
        background-image: url("../img/bg-index.png")!important;   
    }
    .btn{
        float:none!important;
        width:100%!important;
    }

  }
body, table {
        font-size: 14px;
    }
    body {
        /* background-image: url("../img/bg-new.png"); */

    }
    .farsi{
        direction: rtl;
    }
    .kadr{
        color:black;
        margin-top: 2%;
        opacity:0.9;
        border: 2px solid Gray;
        border-radius: 10px;
        padding: 5px;
        direction: rtl;
        text-align: right;
    }
    .rast{
        float:right;
        margin-right: 2%;
        margin-left:2%;
    }
    .chap{
        float:left;
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
        
    }
    legend{
        color:white;    
    }
    .mtn{
        font-size:20px;
        text-align:center;
        /* color:white; */
    }
    .form-select{
        margin-right:1%;
        width:55%;
        border:1px solid gray;
        border-radius:5px;
        height:25px
    }
    .btns{
        margin: 7%!important;
        margin-bottom: 10%!important;

    }
    .btn{
        width:32%;
        font-size:16px;
    }